* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
}

/*Cabeçalho*/

header {
  padding: 1.6rem 3.12rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
}
/* temporirios */
nav {
  display: none;
}

nav ul {
  list-style: none;
}

input {
  font-family: inherit;
  font-size: inherit;
  inline-size: inherit;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #757575;
}

.lista_inicial li a {
  color: #112e61;
  font-size: 1.4rem;
  text-decoration: none;
  text-decoration-line: underline;
  font-weight: 600;
  text-transform: uppercase;
}

.lista_inicial li a:hover,
.lista_inicial li a:active {
  color: #f60;
}

header .element-filho::after {
  content: "\2bc6";
}

/*Seção Hero*/

h1 {
  font-size: 3.32rem;
  font-weight: 600;
  line-height: 1;
}

.secao-hero {
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
  padding: 7.63rem 2rem;
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-01.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
}

.p_hero {
  font-size: 1.92rem;
  line-height: 1.3;
}

.link_hero1 {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  background-image: linear-gradient(180deg, #ff645e, #ff9253);
  padding: 0.65rem 2.5rem;
  border-radius: 3rem;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
  border-bottom: solid 0.4rem rgba(0, 0, 0, 0.5);
  border-right: solid 0.4rem rgba(0, 0, 0, 0.5);
}

.link_hero1:hover,
.link_hero1:active {
  background-color: #ff9253;
  background-image: none;
  border-bottom: solid 0.4rem #ff9253;
  border-right: solid 0.4rem #ff9253;
}

.iframe-introducao {
  aspect-ratio: 16/9;
  height: 42rem;
  border-radius: 2.5rem;
  display: none;
}

.conteiner-hero {
  max-width: 100rem;
  margin: 0 auto;
}

/*Seção Conteúdos Gratuitos*/

.conteiner-gratuitos {
  max-width: 100rem;
  margin: 0 auto;
}

.svg a img {
  width: 100%;
}

.svg a {
  display: inline-block;
  background-color: #e7e7e7;
  border-radius: 50%;
  padding: 1.02rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
  width: 4.5rem;
  height: 4.5rem;
}

.secao-gratuitos {
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-02.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7.63rem 2rem;
}

.h2_gratuido {
  font-size: 2.76rem;
  font-weight: 400;
}

.h2_gratuido span {
  color: #7a40be;
  font-weight: 600;
}

.tipo {
  position: absolute;
  color: white;
  font-size: 2.3rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
  border-radius: 0.9rem;
  padding: 0.42rem 1.6rem;
  transform: rotate(-3deg) translate(-50%, -50%);
  top: 0;
  left: 50%;
}

.lista_gratuito a {
  font-size: 1.92rem;
  text-decoration: none;
}

.lista_gratuito img {
  width: 1.8rem;
  height: 1.8rem;
}

.lista_gratuito a {
  display: inline-block;
  background-color: #e7e7e7;
  box-shadow: inset 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
  border-radius: 3rem;
  padding: 0.4rem 3.12rem;
  color: black;
}

.lista_gratuito a:hover {
  text-decoration: underline;
}

.caixa-curso-hashtag {
  position: relative;
  padding: 2rem;
  display: inline-block;
  box-shadow: inset 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.15);
  border-radius: 3rem;
}

/*Seção Diferenciais*/

.imagens-diferenciais img {
  height: 3rem;
  filter: grayscale(100%);
}

.secao-diferenciais {
  padding: 7.63rem 2rem;
  background-color: #f4f5f7;
}

.conteiner-diferencias {
  max-width: 100rem;
  margin: 0 auto;
}

.diferencas img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: #ffaf00;
  padding: 1.6rem;
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.15);
}

.diferencas div {
  position: relative;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
  padding: 7rem 2.5rem 3.12rem 2.5rem;
  border-radius: 3.5rem;
  background-color: white;
}

.titulo {
  padding: 4.88rem;
  padding-bottom: 12rem;
  background-image: linear-gradient(225deg, #196b9f, #1a82a7);
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
}

.divisao {
  padding: 4.88rem 3.12rem;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  background-color: white;
}

.secao_h2 {
  font-size: 2.72rem;
  color: white;
  font-weight: 400;
  border-left: solid 0.4rem #ffb20f;
  padding: 0.52rem 0 0.52rem 1.6rem;
}
.secao_h2 strong {
  font-weight: 600;
}

.difer_p {
  font-size: 1.92rem;
  color: white;
}

.h3_difer {
  color: #005e88;
  font-weight: 600;
  font-size: 2.3rem;
}

.p_difer {
  font-size: 1.6rem;
}

.p_difer strong {
  font-weight: 600;
}
.p_difer b {
  font-weight: 700;
}

.h3_empresa {
  font-size: 2.3rem;
  font-weight: 400;
}

.h3_empresa a {
  font-weight: 700;
  color: #005e88;
  text-decoration: none;
}

/*Seção O que falão*/

.secao-falao {
  padding: 7.63rem 2rem;
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-04.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.conteiner-falao {
  max-width: 100rem;
  margin: 0 auto;
}

.imagen-carrossel {
  position: relative;
}

.botao {
  position: absolute;
}

.botao-esquerdo {
  cursor: pointer;
  left: 0;
  top: 50%;
  transform: translate(-150%, -65%);
}

.botao-direito {
  cursor: pointer;
  right: 0;
  top: 50%;
  transform: translate(150%, -65%);
}

.video1-carrossel {
  background-color: #7489af;
  background-blend-mode: multiply;
  display: inline-block;
  aspect-ratio: 16/9;
  width: 33%;
  border-radius: 2rem;
  background-image: url(https://i3.ytimg.com/vi/N_EZD04zmrw/hqdefault.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.video2-carrossel {
  background-color: #7489af;
  background-blend-mode: multiply;
  display: inline-block;
  aspect-ratio: 16/9;
  width: 33%;
  border-radius: 2rem;
  background-image: url(https://i3.ytimg.com/vi/auqWeBJLJHY/hqdefault.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.video3-carrossel {
  background-color: #7489af;
  background-blend-mode: multiply;
  display: inline-block;
  aspect-ratio: 16/9;
  width: 33%;
  border-radius: 2rem;
  background-image: url(https://i3.ytimg.com/vi/FD79IpCaM1Y/hqdefault.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.videos-carrossel div img {
  cursor: pointer;
  position: absolute;
  height: 3rem;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.h2_falam {
  font-size: 2.76rem;
  color: white;
  font-weight: 400;
}

.h2_falam span {
  font-weight: 700;
}

.link_depoimento {
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  background-image: linear-gradient(180deg, #196c9f, #1a80a7);
  padding: 0.65rem 2.5rem;
  border-radius: 3rem;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
  border-bottom: solid 0.4rem #14577f;
  border-right: solid 0.4rem #14577f;
}

.itens-navegacao {
  cursor: pointer;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #86a8bc;
}

.active {
  background-color: #14577f;
}

.link_depoimento:hover,
.link_depoimento:active {
  background-color: #1a80a7;
  background-image: none;
  border-bottom: solid 0.4rem #1a80a7;
  border-right: solid 0.4rem #1a80a7;
}

/*na midia*/

.secao-midia {
  padding: 3.9rem 2rem;
  background-image: url(https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUND-Banner-05_1.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.conteiner-midia {
  max-width: 100rem;
  margin: 0 auto;
}

.h2_midia {
  font-size: 2.76rem;
  font-weight: 400;
  display: inline-block;
}

/*blog*/

.secao-blog {
  padding: 7.63rem 2rem;
  background-color: #f4f5f7;
}

.conteiner-blog {
  position: relative;
  max-width: 100rem;
  margin: 0 auto;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
  border-radius: 3rem;
  padding: 4.88rem;
  padding-top: 7.63rem;
  background-color: #f9f9f9;
}

.h2_blog {
  width: max-content;
  position: absolute;
  top: 0;
  left: 50%;
  transform: rotate(-3deg) translate(-50%, -55%);
  display: inline-block;
  padding: 1.02rem 3.12rem;
  background-image: linear-gradient(90deg, #feb914, #f6a50b);
  border-radius: 1.2rem;
  color: white;
  font-size: 2.76rem;
  font-weight: 400;
  background-color: black;
}

.caixa-blog {
  display: inline-block;
  box-shadow: inset 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.15);
  padding: 2rem;
  border-radius: 2.5rem;
  width: 49%;
}

.caixa-blog:hover,
.caixa-blog:active {
  transform: scale(1.05);
}

.caixa-blog img {
  width: 100%;
}

.link_blog {
  color: #f7a70c;
  font-weight: 600;
  text-decoration: none;
}

.p_blog {
  font-size: 1.33rem;
}

.texto_blog {
  font-weight: 600;
  font-size: 2.3rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.p_explicacao {
  font-size: 1.6rem;
}
/*como posso ajudar*/

.secao-laranja {
  padding: 7.63rem 2rem;
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUND-banner-07.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.secao-cinza {
  padding: 7.63rem 2rem;
  background-color: #f4f5f7;
}

.conteiner-ajuda1 {
  max-width: 100rem;
  margin: 0 auto;
}

.conteiner-ajuda2 {
  max-width: 100rem;
  margin: 0 auto;
}

.h2_ajuda {
  display: inline-block;
  border-radius: 1.5rem;
  padding: 0.42rem 1.6rem;
  font-size: 2.76rem;
  font-weight: 400;
  color: white;
  background-image: linear-gradient(90deg, #14a1d5, #1a8ad4);
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
}

.h2_ajuda span {
  font-weight: 600;
}

.lista_ajuda {
  display: inline-block;
  padding: 2.5rem;
  border-radius: 2rem;
  background-color: #f9f9f9;
  font-size: 1.92rem;
}

.lista_ajuda a {
  color: #008ff7;
  font-weight: 600;
}

.p_ajuda {
  font-size: 1.92rem;
}

.p_ajuda a {
  color: #008ff7;
  font-weight: 600;
}

/*mini curso*/
.secao-minicurso {
  padding: 7.63rem 2rem;
  background-image: linear-gradient(90deg, #9e4ad7, #753db6);
}

.conteiner-minicurso {
  max-width: 100rem;
  margin: 0 auto;
}

.conteiner-minicurso form input {
  background-color: white;
  border: 0;
  box-shadow: inset 0 0 0.4rem 0.15rem rgba(0, 0, 0, 0.15);
  padding: 1.02rem;
  border-radius: 0.8rem;
}

.conteiner-minicurso form button {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3rem;
  padding: 0.65rem 2.5rem;
  color: white;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
  border: 0;
  border-bottom: solid 0.4rem #664a10;
  border-right: solid 0.4rem #664a10;
  background-color: #ffba29;
}

.conteiner-minicurso form button:hover {
  border-bottom: solid 0.4rem #ffba29;
  border-right: solid 0.4rem #ffba29;
}

.h2_minicurso {
  font-size: 27.6px;
  color: white;
  font-weight: 400;
}

.h2_minicurso span {
  font-weight: 600;
}

/*Rodapé*/

.secao-rodape {
  background-color: #f4f5f7;
  padding: 7.63rem 2rem;
}

.conteiner-rodape {
  max-width: 100rem;
  margin: 0 auto;
}

.p_1 {
  font-size: 23px;
  font-weight: 600;
}

.p_2 {
  font-size: 19, 2px;
  font-weight: 600;
}

.p_3 {
  font-size: 16px;
  font-weight: 600;
}

.link_rodape {
  color: #1a77a4;
  font-size: 16px;
}

.p_rodape {
  font-size: 23px;
  font-weight: 600;
}

.p_texto {
  font-size: 16px;
}

.conteiner-rodape form button {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3rem;
  padding: 0.65rem 2.5rem;
  color: white;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
  border: 0;
  border-bottom: solid 0.4rem #0c374d;
  border-right: solid 0.4rem #0c374d;
  background-color: #1a77a4;
}

.conteiner-rodape form button:hover {
  border-bottom: solid 0.4rem #1a77a4;
  border-right: solid 0.4rem #1a77a4;
}

.conteiner-rodape form input {
  background-color: white;
  border: 0;
  box-shadow: inset 0 0 0.4rem 0.15rem rgba(0, 0, 0, 0.15);
  padding: 1.02rem;
  border-radius: 0.8rem;
}

.conteiner-rodape form {
  box-shadow: inset 0 0 0.4rem 0.15rem rgba(0, 0, 0, 0.15);
  border-radius: 3rem;
  padding: 2.5rem;
  background-color: #fff;
}

.whatsapp {
  z-index: 999rem;
  position: fixed;
  bottom: 0.8rem;
  right: 1rem;
}

.whatsapp:hover {
  transform: translate(0.5rem, 0.5rem);
}

.whatsapp img {
  width: 8.5rem;
}

.logo-hashtag {
  width: 18rem;
}

.secao-rodape svg:hover {
  fill: #f60;
}

.secao-rodape svg {
  width: 2.4rem;
}

.link-redessociais {
  color: transparent !important;
}

.secao-rodape a:hover {
  color: #f60;
}
